@model BillGenerator.Models.Items

<tr id="@Model.ItemIndex">
    <td>
        @Model.ProductName
        <input type="hidden" name="Items[@Model.ItemIndex].ProductName" value="@Model.ProductName"/>
    </td>
    <td>
        @Model.Quantity
        <input type="hidden" name="Items[@Model.ItemIndex].Quantity" value="@Model.Quantity"/>
    </td>
    <td>
        @Model.Price
        <input type="hidden" name="Items[@Model.ItemIndex].Price" value="@Model.Price"/>
    </td>
    <td><button type="button" class="btn btn-sm bg-danger text-white">Remove</button></td>
</tr>